# Domain name information verification {#concept_blm_wrl_zdb .concept}

The domain name must meet all the requirements of the MIIT.

To fully implement the "Counter-terrorism Law of the People’s Republic of China, Cybersecurity Law of the People’s Republic of China, Regulation on Internet Information Service of the People’s Republic of China, Measures for the Administration of Internet Domain Names" \(the announcement page: [http://www.miit.gov.cn/newweb/n1146285/n1146352/n3054355/n3057709/n3057714/c5930543/content.html\)](http://www.miit.gov.cn/newweb/n1146285/n1146352/n3054355/n3057709/n3057714/c5930543/content.html) .

and other laws, regulations, and rules, and to further regulate the use of domain names by Internet information service providers,  domain names used for Internet information must be registered in compliance with the relevant laws and regulations effective from January 1, 2018. Specifically, the domain name registrant of an individual ICP Filing must be the person himself, and the domain name registrant of an enterprise ICP Filing must be the enterprise \(including shareholders\), the primary enterprise owner, or the legal representative.

When your ICP Filing information is submitted to the competent communications administration for review, the domain name information will be verified. If the domain name information verification fails, the ICP Filing fails. In addition, Alibaba Cloud regularly checks the status of the domain names used by Internet information service providers. If nonexistent domain names, expired domain names, domain names without owner information, and other such problems are found, ICP Filing services for such domain names will be stopped in accordance with the requirements of the relevant communication authorities. To guarantee that your website domain name can be filed successfully, make sure the required information is complete.

## Domain name verification start time {#section_nbm_mqs_zdb .section}

From 00:00 January 1, 2018, the relevant provincial/municipal authorities perform domain name verification to all submitted ICP Filing applications.

## Domain name verification rules {#section_obm_mqs_zdb .section}

The domain name verification is successful only when  **all** of the following criteria are met.

-   The top-level domain name has been approved by the MIIT. See the approval information of domain name registries from the MIIT website: [http://www.miit.gov.cn/n1146285/n1146352/n3054355/n3057709/n3057722/c4377447/content.html](http://www.miit.gov.cn/n1146285/n1146352/n3054355/n3057709/n3057722/c4377447/content.html) .
-   Your domain name has been registered with and administered by a domain name registration agency authorized by the MIIT.

    You can look up nationally-approved domain name registrars on the MIIT website: [http://www.miit.gov.cn/n1146285/n1146352/n3054355/n3057709/n3057722/c4416816/content.html](http://www.miit.gov.cn/n1146285/n1146352/n3054355/n3057709/n3057722/c4416816/content.html) .

-   The domain name must be in its validity period.

    You can query the validity period of the domain name on  [Alibaba Cloud WHOIS system](http://whois.aliyun.com/).

-   Your domain name must have passed the real-name authentication.

-   The information of the ICP Filing subject conforms with the real-name authentication information of the domain name registrant \(domain name owner\).

    -   Individual ICP Filing: The information of the ICP Filing subject must be consistent with the domain name registrant \(domain name holder\) information \(name, document type, and document number\).
    -   Non-individual ICP Filing: The information of the ICP Filing subject \(the subject or the subject administrator\) must be consistent with the domain name registrant \(domain name holder\) information \(name, document type, and document number\). If the domain name registrant’s real-name authentication information is inconsistent with the subject administrator information, you can provide relevant evidential materials to the ICP Filing system \(only supported by certain provinces/municipalities\).

## What type of ICP Filing requires domain name verification? {#section_mj4_wgt_zdb .section}

|ICP Filing type|Domain name verification scope|Remarks|
|:--------------|:-----------------------------|:------|
|New ICP Filing|All domain names of the website are verified.|N/A|
|Add new websites for ICP Filing|All domain names of the website are verified.|N/A|
|Modify ICP Filing information| -   Modify an ICP Filing for a website domain name completed before January 1, 2018 requires no domain name verification.

-   Modify an ICP Filing for a Website domain name completed after January 1, 2018 requires domain name verification.

 |N/A|
|Transfer an ICP Filing|Domain name verification is not performed.|N/A|
|Cancel an ICP Filing subject|Website domain name verification is not performed.|After the ICP Filing is canceled, if you resubmit the website domain name for ICP Filing, it must undergo domain name verification.|
|Cancel a website ICP Filing|Website domain name verification is not performed.|After the ICP Filing is canceled, if you resubmit the website domain name for ICP Filing, it must undergo domain name verification.|
|Cancel an ICP Filing transfer|Website domain name verification is not performed.|After the ICP Filing transfer is canceled, if you want to transfer it again, the domain name must undergo verification.|

## Domain name holder ownership statement template {#section_xbm_mqs_zdb .section}

If you are required to upload a statement for your domain name ownership, click [here](http://docs-aliyun.cn-hangzhou.oss.aliyun-inc.com/assets/attach/64289/cn_zh/1514873663673/%E6%9C%89%E5%85%B3%E7%BD%91%E7%AB%99%E5%A4%87%E6%A1%88%E5%9F%9F%E5%90%8D%E6%B3%A8%E5%86%8C%E4%BA%BA%E7%9A%84%E8%AF%81%E6%98%8E%E5%8F%8A%E9%99%84%E4%BB%B62.0.docx) to download the template \(only available in Chinese\).

## Reasons for domain name verification failure {#section_zbm_mqs_zdb .section}

If a domain name does not pass the verification, possible reasons are as follows:

-   The top-level domain name of your domain name may not  have received the approval from the MIIT.

    Solution: Contact your domain name registrar for solutions.

-   Your domain name registrar may not have received the approval from the MIIT.

    Solution: Contact your domain name registrar for solutions. You must transfer your domain name to a registrar approved by the MIIT.

-   Your domain name registration has expired.

    Solution: Contact your domain name registrar to confirm the situation and renew your registration.

-   You have not completed real-name authentication for your domain name.

    Solution: Complete domain name real-name authentication and make sure the information is consistent with the information of the ICP Filing subject or the subject administrator. If you are an Alibaba Cloud domain name user, log on to the Alibaba Cloud domain name console to complete real-name authentication.

-   You have completed real-name authentication for your domain name, but it has not been recorded in the MIIT system. Domain name real-name authentication information recording takes about two business days.

    Solution: Resubmit your ICP Filing application after you confirm with your domain name registrar that your domain name has been recorded in the MIIT system.

-   Your ICP Filing subject information is not consistent with the domain name real-name information.

    Solution: Change the domain name information or ICP Filing subject information. If you are an Alibaba Cloud \(aliyun.com\) domain name user, log on to the Alibaba Cloud domain name console to change the domain name information.


